[submodule "third_party/lvgl"]
	path = third_party/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "third_party/ihslib"]
	path = core
	url = https://github.com/mariotaku/ihslib.git
[submodule "cmake/sanitizers"]
	path = cmake/sanitizers
	url = https://github.com/arsenm/sanitizers-cmake.git
[submodule "third_party/ss4s"]
	path = third_party/ss4s
	url = https://github.com/mariotaku/ss4s.git
[submodule "third_party/commons"]
	path = third_party/commons
	url = https://github.com/mariotaku/commons-c.git
