[submodule "third_party/lvgl"]
	path = third_party/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "third_party/ihslib"]
	path = core
	url = git@github.com:mariotaku/ihslib.git
[submodule "third_party/protobuf-c"]
	path = third_party/protobuf-c
	url = https://github.com/protobuf-c/protobuf-c.git
[submodule "third_party/mbedtls"]
	path = third_party/mbedtls
	url = https://github.com/ARMmbed/mbedtls.git
[submodule "system/webos/tv-native-apis"]
	path = system/webos/tv-native-apis
	url = https://github.com/webosbrew/tv-native-apis.git
[submodule "cmake/sanitizers"]
	path = cmake/sanitizers
	url = https://github.com/arsenm/sanitizers-cmake.git
[submodule "third_party/ss4s"]
	path = third_party/ss4s
	url = https://github.com/mariotaku/ss4s.git
[submodule "third_party/opus"]
	path = third_party/opus
	url = https://github.com/xiph/opus.git
[submodule "third_party/inih"]
	path = third_party/inih
	url = https://github.com/benhoyt/inih.git
[submodule "third_party/commons"]
	path = third_party/commons
	url = https://github.com/mariotaku/commons-c.git
