[submodule "third_party/lvgl"]
	path = third_party/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "third_party/ihslib"]
	path = third_party/ihslib
	url = git@github.com:mariotaku/ihslib.git
[submodule "third_party/protobuf-c"]
	path = third_party/protobuf-c
	url = https://github.com/protobuf-c/protobuf-c.git
[submodule "third_party/mbedtls"]
	path = third_party/mbedtls
	url = https://github.com/ARMmbed/mbedtls.git
[submodule "system/webos/tv-native-apis"]
	path = system/webos/tv-native-apis
	url = https://github.com/webosbrew/tv-native-apis.git
